<div class="modal fade in" id="delmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">Delete Action? </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button id="deletconfirm" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>