<action-form [class.hidden]="!openForm" [action]="editedAction" [actiondate]="editedActionDate"  [mode]="editActionMode"
             (closeform)="onCloseForm()" (submitform)="onSubmitForm($event)" >

</action-form>
<p class="text-right"><i class="fa fa-user">&nbsp;&nbsp;</i>Welcome {{ starsService.currentUser.Firstname  }}
    {{ starsService.currentUser.Lastname }}
    (<a
            [routerLink]="['/Login']"
            (click)="onLogout()">Logout</a>)
</p>
<h1>Students at risk</h1>

<div  *ngIf="isFaculty">
    <label for="coursesDD" class="control-label">Course</label>
    <select #crs id="coursesDD" (change)="filterByCourse(crs.value)">
        <option selected="selected" value="ALL"> All </option>
        <option *ngFor="#course of starsService.courses" value="{{course.CRN}}">{{course.CRN}} {{course.CourseName}}</option>
    </select>
</div>
<div  *ngIf="isAdviser">
    <label for="programsDD" class="control-label">Program</label>
    <select #prog id="programsDD" (change)="filterByProgram(prog.value)" >
        <option selected="selected" value="ALL"> All </option>
        <option *ngFor="#program of starsService.programs" value="{{program.Code}}">{{program.Name}}({{program.Code}})</option>
    </select>
</div>

<input (click)="actionEditor()" id="addAction" class="btn btn-primary" type="button" value="Add Followup Action">

<div class="table-responsive">
    <table id="studentsTable" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
        <tr >
            <th></th>
            <th>Student Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Program</th>
            <th>GPA</th>
            <th>Risk Category</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#student of filteredStudents" >
            <td><input (change)="selectCheckbox($event)"   type="checkbox" value="{{student.StudentId}}"></td>
            <td>{{student.StudentId}}</td>
            <td>{{student.FirstName}}</td>
            <td>{{student.LastName}}</td>
            <td>{{student.Gender}}</td>
            <td>{{student.Program}}</td>
            <td>{{student.GPA}}</td>
            <td>{{student.AtRiskCategory}} </td>
            <td>{{student.Courses}}</td>
            <td><a [routerLink]="['/Actions', {id:student.StudentId}]"> actions </a></td>
        </tr>
        </tbody>
    </table>
    <hr/>
</div>
<div id="actionForm"></div>

