<div *ngIf="action" class="modal fade" id="actionEditor" tabindex="-1" role="dialog"
     aria-labelledby="formLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="formLabel">Action Details</h3>
            </div>
            <div class="modal-body">
                <form class="wider">
                    <div *ngIf="starsService.currentUser.Type === 'Faculty'" class="form-group form-group-condensed">
                         <label for="courses" class="control-label">Course</label>
                         <select [(ngModel)]="action.CourseCRN" id="courses" class="form-control">
                             <option *ngFor="#course of starsService.instructorCourses" value="{{course.CRN}}">{{course.CourseCode + ' ' + course.CourseName}}</option>
                         </select>
                    </div>
                    <div class="form-group form-group-condensed">
                        <label for="action" class="control-label">Action Type</label>
                        <select [(ngModel)]="action.ActionType" id="action" class="form-control" required>
                            <option *ngFor="#actionType of starsService.actionTypes" value="{{actionType}}">{{actionType}}</option>
                        </select>
                    </div>
                    <div class="form-group form-group-condensed">
                        <label for="date" class="control-label">Date</label>
                        <input [(ngModel)]="action.Date" type="date" class="form-control" id="date" placeholder="Date" required/>
                    </div>
                    <div class="form-group form-group-condensed">
                        <label for="title" class="control-label">Title</label>
                        <input [(ngModel)]="action.Title" type="text" class="form-control" id="title" placeholder="Title" required/>
                    </div>
                    <div class="form-group form-group-condensed">
                        <label for="description" class="control-label">Description</label>
                        <textarea [(ngModel)]="action.Description" class="form-control" id="description" placeholder="Description" required></textarea>
                    </div>
                    <br/>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="submit" type="button" class="btn btn-primary" (click)="onFormSubmit()" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
