<div class="container">
    <div>
        <h1 *ng-if="hero.id > 0">Edit Hero details - {{hero.name}}</h1>
        <h1 *ng-if="hero.id === 0">Add Hero - {{hero.name}}</h1>
        <form (ng-submit)="onSubmit()" #f="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control"
                       #name="form"
                       [(ng-model)]="hero.name"
                       ng-control="name" required>
<!--                <div class="alert alert-danger" [hidden]="name.valid">
                    Name is required
                </div>-->
            </div>
            <div class="form-group">
                <label for="quote">Quote</label>
                <input type="text" class="form-control"
                       #quote="form"
                       [(ng-model)]="hero.quote"
                       ng-control="quote">
<!--                <div class="alert alert-danger" [hidden]="alterego.valid">
                    Quote is required
                </div>-->
            </div>
            <div class="form-group">
                <label for="heroType">Hero Type</label>
                <select class="form-control"
                        #heroType="form"
                        [(ng-model)]="hero.heroType"
                        ng-control="heroType" required>
                    <option *ng-for="#ht of heroTypes" [value]="ht">{{ht}}</option>
                </select>

<!--                <div class="alert alert-danger" [hidden]="heroType.valid">
                    Hero Type is required
                </div>-->
            </div>
            <button type="submit" class="btn btn-default"
                    [disabled]="!f.form.valid">Submit</button>
        </form>
    </div>
</div>